<footer id="contact">
    <div class="container">
        <div class="row p-20">
            <div class="col-md-12 col-sm-12">
                <div class="logo-wrapper">
                    <div class="logo-block" (click)="returnHome()">
                        <img 
                            src="../../assets/images/logos/mozark-firepits-logo-badge.png" 
                            class="logo" alt="Mozark Fire Pits logo">
                            <div class="v-line"></div>
                        <span class="logo-name anton-regular">
                            MOZARK FIRE PITS
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <dl>
                    <dt>Social Media Links</dt>
                    <dd><a href="https://www.facebook.com/anntaylorcreationanddesigns">Facebook <i class="bi bi-facebook"></i></a></dd>
                    <dd><a href="https://www.instagram/anntaylorcreationanddesigns">Instagram <i class="bi bi-instagram"></i></a></dd>
                    <dt class="mt-4">Partner</dt>
                    <dd>
                        <a href="http://www.anntaylorcreationanddesigns.com">Ann Taylor Creation &amp; Designs</a>
                    </dd>
                </dl>
            </div>
            <div class="col-md-6 col-sm-12">
                
            </div>
            <div class="col-md-12">
                <p style="text-align: center;">&#169; copyright {{ currentYear }} | Mozark Fire Pits All Rights Reserved. </p>
            </div>
        </div>
    </div>
</footer>
