section.hero-banner {
    overflow: hidden;

    // div {
        div.banner-wrapper {
            div.banner-image {
                img {
                    display: block;
                    width: 100%;
                    height: auto;
                }
            //     position: relative;
            //     width: 100%;
            //     height: 650px;
            //     background-repeat: no-repeat;
            //     background-position: center center;
            //     background-size: cover;
            //     background-image: url('../../../../assets/images/mozark_firepits_banner.jpg');

            //     div.banner-content {

            //     }
            }
        }
    // }
}

/* On screens that are 600px or less */
@media screen and (max-width: 600px) {

}

/* On screens that are 768px or less */
@media screen and (max-width: 768px) {

}