<app-hero></app-hero>
<section class="featured-production aos-init aos-animate" data-aos="fade-up" data-aos-duration="800">
    <div class="decorated-fold-bar">
        <h1>Shop For Exclusive deals on</h1>
        <h1 class="mb-14">outdoor fire pits</h1>
        <div class="fold-items-wrapper">
            <div class="fold-inner-wrapper">
                <div class="fold-items">
                    <span class="item">
                        <span class="item-title">Quick Shipping</span>
                        <span class="item-icon material-symbols-outlined">
                            local_shipping
                        </span>
                    </span>
                </div>
                <div class="fold-items">
                    <span class="item">
                        <span class="item-title">Heavy Duty</span>
                        <span class="item-icon material-symbols-outlined">
                            exercise
                        </span>
                    </span>
                </div>
                <div class="fold-items">
                    <span class="item">
                        <span class="item-title">Portable</span>
                        <span class="item-icon material-symbols-outlined">
                            trolley
                        </span>
                    </span>
                </div>
                <div class="fold-items">
                    <span class="item">
                        <span class="item-title">Various Sizes</span>
                        <span class="item-icon material-symbols-outlined">
                            width
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="products-section" id="shop">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="product-wrapper">
                    <div class="product aos-init aos-animate" data-aos="fade-right" data-aos-duration="800">
                        <img src="../../../assets/images/firepits/48/48_firepit_grey_chair_main.webp" alt="48 Inch Steel Fire Pit" class="product-image">
                        <div class="product-details">
                            <h2 class="product-title">48" Bowl Outdoor Mozark Fire Pit</h2>
                            <h4 class="product-subtitle">
                                Heavy Duty Outdoor Backyard Patio Fire Pit in Patina (Weathered Rustic Color)
                            </h4>
                            <span class="product-price">$1450.00 USD</span>
                            <dl>
                                <dt>Dimension</dt>
                                <dd>48" x 48" x 18.50"</dd>
                                <dt>Multiple Options Available</dt>
                                <dd>Cover (+$150) or No Cover</dd>
                                <dt>Shipping</dt>
                                <dd>2 - 9 Business Days</dd>
                                <dt>Materials</dt>
                                <dd>Steel, Recycled Steel</dd>
                                <dt>Approximate Weight</dt>
                                <dd>185 Lbs.</dd>
                            </dl>
                            <button class="btn btn-primary shop-now" (click)="shopNow('https://anntaylorcreationanddesigns.com/products/48-inch-steel-hexagon-base-heavy-duty-fire-pit-in-patina')">Shop Now</button>
                            <button class="btn btn-outline-primary view-details" (click)="openDialog(36485954240671)">View Details</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="product-wrapper">
                    <div class="product aos-init aos-animate" data-aos="fade-right" data-aos-duration="800">
                        <img src="../../../assets/images/firepits/42/42inch_steel_firepit_main.webp" alt="42 Inch Steel Bowl Fire Pit" class="product-image">
                        <div class="product-details">
                            <h2 class="product-title">42" Bowl Outdoor Mozark Fire Pit</h2>
                            <h4 class="product-subtitle">
                                Heavy Duty Outdoor Backyard Patio Fire Pit in Patina (Weathered Rustic Color)
                            </h4>
                            <span class="product-price">$950.00 USD</span>
                            <dl>
                                <dt>Dimension</dt>
                                <dd>42" x 42" x 18.50"</dd>
                                <dt>Multiple Options Available</dt>
                                <dd>Cover (+$100) or No Cover</dd>
                                <dt>Shipping</dt>
                                <dd>2 - 9 Business Days</dd>
                                <dt>Materials</dt>
                                <dd>Steel, Recycled Steel</dd>
                                <dt>Approximate Weight</dt>
                                <dd>125 Lbs.</dd>
                            </dl>
                            <button class="btn btn-primary shop-now" (click)="shopNow('https://anntaylorcreationanddesigns.com/products/42-inch-steel-pyramid-heavy-duty-fire-pit-in-patina')">Shop Now</button>
                            <button class="btn btn-outline-primary view-details" (click)="openDialog(36485954240672)">Details</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="product-wrapper">
                    <div class="product aos-init aos-animate" data-aos="fade-right" data-aos-duration="800">
                        <img src="../../../assets/images/firepits/37/37_half_inch_red_chair_firepit.webp" alt="37 Inch Steel Bowl Fire Pit" class="product-image">
                        <div class="product-details">
                            <h2 class="product-title">37.50" Deep Dish Outdoor Mozark Fire Pit</h2>
                            <h4 class="product-subtitle">
                                Heavy Duty Outdoor Backyard Patio Fire Pit in Patina (Weathered Rustic Color)
                            </h4>
                            <span class="product-price">$950.00 USD</span>
                            <dl>
                                <dt>Dimension</dt>
                                <dd>37.50" x 37.50" x 21.50"</dd>
                                <dt>Multiple Options Available</dt>
                                <dd>Cover (+$100) or No Cover</dd>
                                <dt>Shipping</dt>
                                <dd>2 - 9 Business Days</dd>
                                <dt>Materials</dt>
                                <dd>Steel, Recycled Steel</dd>
                                <dt>Approximate Weight</dt>
                                <dd>200 Lbs.</dd>
                            </dl>
                            <button class="btn btn-primary shop-now" (click)="shopNow('https://anntaylorcreationanddesigns.com/products/37-50-inch-steel-hemispherical-deep-dish-heavy-duty-fire-pit-in-patina')">Shop Now</button>
                            <button class="btn btn-outline-primary view-details" (click)="openDialog(36485954240673)">Details</button>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="product-wrapper">
                    <div class="product aos-init aos-animate" data-aos="fade-right" data-aos-duration="800">
                        <img src="../../../assets/images/firepits/36/36_inch_steel_firepit.webp" alt="36 Inch Steel Bowl Fire Pit" class="product-image">
                        <div class="product-details">
                            <h2 class="product-title">36" Deep Dish Bowl Mozark Fire Pit</h2>
                            <h4 class="product-subtitle">
                                Heavy Duty Outdoor Backyard Patio Fire Pit in Patina (Weathered Rustic Color)
                            </h4>
                            <span class="product-price">$750.00 USD</span>
                            <dl>
                                <dt>Dimension</dt>
                                <dd>36" x 36" x 6.50"</dd>
                                <dt>Multiple Options Available</dt>
                                <dd>Cover (+$200) or No Cover</dd>
                                <dt>Shipping</dt>
                                <dd>2 - 9 Business Days</dd>
                                <dt>Materials</dt>
                                <dd>Steel, Recycled Steel</dd>
                                <dt>Approximate Weight</dt>
                                <dd>115 Lbs.</dd>
                            </dl>
                            <button class="btn btn-primary shop-now" (click)="shopNow('https://anntaylorcreationanddesigns.com/products/36-inch-deep-dish-steel-hemispherical-heavy-duty-fire-pit-in-patina')">Shop Now</button>
                            <button class="btn btn-outline-primary view-details" (click)="openDialog(36485954240674)">Details</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="product-wrapper">
                    <div class="product aos-init aos-animate" data-aos="fade-right" data-aos-duration="800">
                        <img src="../../../assets/images/firepits/30/30inch_deep_dish_firepit.webp" alt="36 Inch Steel Bowl Fire Pit" class="product-image">
                        <div class="product-details">
                            <h2 class="product-title">
                                30" Deep Dish Bowl Mozark Fire Pit
                            </h2>
                            <h4 class="product-subtitle">
                                Heavy Duty Outdoor Backyard Patio Fire Pit in Patina (Weathered Rustic Color)
                            </h4>
                            <span class="product-price">$525.00 USD</span>
                            <dl>
                                <dt>Dimension</dt>
                                <dd>30" x 30" x 30"</dd>
                                <dt>Multiple Options Available</dt>
                                <dd>Cover (+$125) or No Cover</dd>
                                <dt>Shipping</dt>
                                <dd>2 - 9 Business Days</dd>
                                <dt>Materials</dt>
                                <dd>Steel, Recycled Steel</dd>
                                <dt>Approximate Weight</dt>
                                <dd>170 Lbs.</dd>
                            </dl>
                            <button class="btn btn-primary shop-now" (click)="shopNow('https://anntaylorcreationanddesigns.com/products/30-inch-deep-dish-steel-hemispherical-heavy-duty-fire-pit-in-patina')">Shop Now</button>
                            <button class="btn btn-outline-primary view-details" (click)="openDialog(36485954240675)">Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="product-summary aos-init aos-animate" data-aos="fade-down" data-aos-duration="800" id="about">
    <div class="container">
        <div class="row p-20">
            <div class="col-md-12">
                <h1 class="summary-title">Level Up Your Backyard&#39;s Atmosphere</h1>
                <div class="summary-description mt-2">
                    Fire pits prolong the enjoyment of your backyard's landscape throughout the seasons, from picturesque summer nights and winter gatherings around a fire that provides heat, comfort, provoke conversations and elegance. They are also perfect for s&#39;mores and parties, and they may even make your home more attractive to buyers if you decide to sell. If you&#39;ve been thinking of adding a fire pit to your yard, there are plenty of reasons to take the leap to adding value to your backyard.
                </div>
            </div>
        </div>
    </div>
</section>
<section class="product-staging-promo aos-init aos-animate" data-aos="fade-up" data-aos-duration="800">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img id="stage-main" src="../../../assets/images/mozark-firepit-backyard.webp" alt="A fire pit on the luxury patio in the backyard">
            </div>
        </div>
    </div>
    <div class="container mt-20">
        <div class="row">
            <div class="col-md-6 col-sm-12 image-half">
                
            </div>
            <div class="col-md-6 col-sm-12 description-half p-10 py-20">
                <h1 class="summary-title">Love Where You Live and Create Great Endless Memories</h1>
                <p class="summary-description p-10">
                    Whether you&#39;re making s&#39;mores for the family or relaxing with friends under the stars, the outdoor Mozark fire pit is a great addition to your backyard. Fire pits can be the cozy focal point of your outdoor living space, no matter the season. This guide will teach you about the different types of fire pits and the features to consider when shopping for the best fire pits.
                </p>
            </div>
        </div>
    </div>
</section>